#div111{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
}
.linkkk{
    margin-right: 20px;
    text-decoration: none;
    font-size: 25px;
    color: red;
    text-transform: capitalize;
    border-bottom: 2px solid black;
}